<!--
  Generated template for the NoteDetails page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Tag details</ion-title>
    <ion-buttons start>
      <button ion-button icon-only right (click)="showPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
  <ion-list>




      <ion-item>
        <ion-label style="font-weight: bold">
          {{title}}
        </ion-label>
      </ion-item>

      <ion-item *ngIf="isComplete; then notes; else no_notes"></ion-item>


      <ng-template #notes>
        <div text-center>
          <!--<fieldset style="border-top-color: #e6e6e6; border-left-color:transparent; border-right-color:transparent; border-bottom-color:transparent">-->
          <fieldset>
            <legend style="color:primary">Notes</legend>
          </fieldset>
          <ion-chip *ngFor="let note of tag?.notes" (click)="displayNoteDetails(note.title)">
            <ion-icon name="book"></ion-icon>
            <ion-label>{{note.title}}</ion-label>
          </ion-chip>
        </div>
      </ng-template>


      <ng-template #no_notes>
        <!--<ion-label class="generic-gray" style="tex-align: center">-->
        <div text-center class="generic-gray reduced-font">
          This tag has no notes.
        </div>
        <!-- </ion-label> -->
      </ng-template>




    </ion-list>
  </ion-card>

</ion-content>
