<!--
  Generated template for the Tags page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
MenuToggle is used for the sidemenu.
-->
<ion-header>

  <ion-navbar color="primary">
    <!-- <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>Tags list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchCtrl">
  </ion-searchbar>


  <!-- <h3>Tags!</h3> -->
    <!-- <ion-card detail-push *ngFor="let tag of shownTags" (click)="displayTagDetails(tag.title)">
    <ion-label>
      {{tag.title}}
    </ion-label>
    <ion-item>
      <ion-label>Notes:</ion-label>
      <ion-badge item-right (click)="notesByTag($event, tag)">{{tag.noteslength}}</ion-badge>
    </ion-item>
  </ion-card> -->

  <ion-list>
    <ion-item *ngFor="let tag of shownTags;" (click)="displayTagDetails(tag.title)">
      <ion-label >{{tag.title}}</ion-label>
      <ion-badge item-right (click)="notesByTag($event, tag)">{{tag.noteslength}}</ion-badge>
    </ion-item>
  </ion-list>



<style>
  .fixed-fab {
    position: absolute;
    bottom: 20px; right: 4px;
  }
</style>


<ion-fab fab-bottom fab-right class="fixed-fab">
  <button ion-fab color="primary" (click)="createNewTag()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>

</ion-content>
