// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


//in order to make a border to the 'error' component
// .invalid {
//   border: 1px solid #ea6153;
// }

// .invalid{
//   border-style: solid;
//   border-bottom-color: #ea6153;
// }

fieldset{
  border-top-width: thin;
  border-top-color: map-get($colors, fieldset-gray);
  border-left-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent
}

.invalid{
  border-bottom: thin solid map-get($colors, invalid-red);
}

.generic-gray{
  color: map-get($colors, generic-gray);
}

.reduced-font{
  font-size: 0.8em;
}

//gray label
/*
.error-label{
  font-size: 0.8em;
  color: #808080;
}
*/

ion-chip{
  border: thin solid map-get($colors, primary);
}

.fixed-fab{
    position: absolute;
    bottom: 20px; right: 4px;
}
