<!--
  Generated template for the NotesPopover page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>notes-popover</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content> -->

<ion-list>
  <ion-list-header color="lightblue">
    Search by
  </ion-list-header>
  <!--
  <button *ngIf="btnRemoveFilterEnabled"
  [class.generic-gray]="!btnRemoveFilterEnabled"
  ion-item (click)="unfilter()"
  [disabled]="!removeFilterEnabled"> Remove filter</button>
  -->
  <button *ngIf="btnRemoveFilterEnabled"
  ion-item (click)="unfilter()"> Remove filter</button>
  <button
  [class.generic-gray]="!btnFilterByIsDoneEnabled"
  ion-item (click)="filterByIsDone()"
  [disabled]="!btnFilterByIsDoneEnabled"
  >Search by 'is done'</button>
  <button
  [class.generic-gray]="!btnFilterByTagsEnabled"
  ion-item (click)="filterByTagsNoRole()"
  [disabled]="!btnFilterByTagsEnabled"
  >Search by tags</button>
  <button
  [class.generic-gray]="!btnFilterByTextEnabled"
  ion-item (click)="filterByText()"
  [disabled]="!btnFilterByTextEnabled"
  >Search by text</button>
  <!--<button ion-item (click)="filterByTagsWithRole()">Search by tags (advanced)</button>-->
</ion-list>
