<!--
  Generated template for the CreateNote page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">

    <!-- <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>-->

    <ion-title>Create note</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="createNote()">
  <!-- <ion-list> -->

    <ion-item>
      <ion-label stacked color="primary">Title</ion-label>
      <ion-input

      name="title" [(ngModel)]="newNote.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">Text</ion-label>
      <ion-textarea
      autosize
      name="text" [(ngModel)]="newNote.text"></ion-textarea>
    </ion-item>

  <ion-item>
    <ion-label stacked color="primary">Main tags:</ion-label>
    <ion-select multiple="true" [(ngModel)]="mainTags" name="main-tags">
      <ion-option *ngFor="let tag of tags" [value]="tag">
        {{tag.title}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label stacked color="primary">Other tags:</ion-label>
    <ion-select multiple="true" [(ngModel)]="otherTags" name="other-tags">
      <ion-option *ngFor="let tag of tags" [value]="tag">
        {{tag.title}}
      </ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label stacked color="primary"
    >
      Links:
    </ion-label>
    <button ion-button type="button" icon-only item-right (click)="pushLink()" color="primary">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>


  <!-- <ion-item-divider></ion-item-divider> -->
  <!-- <ion-item> -->

    <!-- <ion-scroll scrollX="true" style="height:100%;"> -->
    <!-- <ion-list> -->
    <!-- <ion-row nowrap> -->

      <!-- <ion-item> -->
      <ion-chip *ngFor="let link of links; let i=index">
        <ion-label>
          {{link}}
        </ion-label>
        <button ion-button (click)="deleteLinks($event, i)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-chip>
    <!-- </ion-item> -->
    <!-- </ion-list> -->
    <!-- </ion-row> -->
    <!-- </ion-scroll> -->

  <!-- </ion-item> -->

  <!-- <ion-item-divider></ion-item-divider> -->



  <ion-item>
    <ion-label stacked color="primary">Done:</ion-label>
    <ion-toggle [(ngModel)]="newNote.isdone" name="is-done"></ion-toggle>
  </ion-item>

  <!-- <ion-item> -->
  <div text-center>
    <button ion-button type="submit" >Create</button>
  </div>
  <!-- </ion-item> -->

  <!-- </ion-list> -->
  </form>

</ion-content>
