<!--
  Generated template for the CreateNote page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">


    <ion-title>Create note</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--
  Basically 3 things have to be done:
  1) - add the formControlName -> the binded property
  2) - add the new css class 'invalid' if the control is not valid
  3) - add a new item with ngIf (control is not valid) to show up the error.
  [the dirty means that the user have touched it]
  -->

  <ion-card>

  <!-- <form (ngSubmit)="createNote()" [formGroup]="createNotePageForm"> -->
  <form [formGroup]="createNotePageForm">

    <ion-item>
      <ion-label stacked color="primary">Title</ion-label>
      <!-- <ion-input
      name="title" [(ngModel)]="newNote.title">
    </ion-input> -->
    <ion-input
    formControlName="title" type="text"
    [class.invalid]="!createNotePageForm.controls.title.valid && (createNotePageForm.controls.title.dirty || tryingToSubmit)"
    >
  </ion-input>
    </ion-item>



    <ion-item *ngIf="!createNotePageForm.controls.title.valid  && (createNotePageForm.controls.title.dirty || tryingToSubmit)">
        <ion-label class="error-label">Enter a valid title.</ion-label>
    </ion-item>


    <ion-item>
      <ion-label stacked color="primary">Text</ion-label>
      <!-- <ion-textarea
      autosize
      name="text" [(ngModel)]="newNote.text">
    </ion-textarea> -->
    <ion-textarea
    autosize
    formControlName="text" type="text"
    [class.invalid]="!createNotePageForm.controls.text.valid && (createNotePageForm.controls.text.dirty || tryingToSubmit)"
    >
  </ion-textarea>
    </ion-item>



    <ion-item *ngIf="!createNotePageForm.controls.text.valid  && (createNotePageForm.controls.text.dirty || tryingToSubmit)">
        <ion-label class="error-label">Enter a valid text.</ion-label>
    </ion-item>


  <!-- <ion-item>
    <ion-label stacked color="primary">Main tags:</ion-label>
    <ion-select multiple="true" [(ngModel)]="mainTags" name="main-tags">
      <ion-option *ngFor="let tag of tags" [value]="tag">
        {{tag.title}}
      </ion-option>
    </ion-select>
  </ion-item> -->
  <ion-item>
    <ion-label stacked color="primary">Main tags:</ion-label>
    <ion-select
    multiple="true" formControlName="mainTags"
    [class.invalid]="!createNotePageForm.controls.mainTags.valid && (createNotePageForm.controls.mainTags.dirty || tryingToSubmit)"
    >
      <ion-option *ngFor="let tag of tags" [value]="tag">
        {{tag.title}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!createNotePageForm.controls.mainTags.valid && (createNotePageForm.controls.mainTags.dirty || tryingToSubmit)">
    <ion-label class="error-label">You cannot have more than 3 main tags.</ion-label>
  </ion-item>

  <!-- <ion-item>
    <ion-label stacked color="primary">Other tags:</ion-label>
    <ion-select multiple="true" [(ngModel)]="otherTags" name="other-tags">
      <ion-option *ngFor="let tag of tags" [value]="tag">
        {{tag.title}}
      </ion-option>
    </ion-select>
  </ion-item> -->
  <ion-item>
    <ion-label stacked color="primary">Other tags:</ion-label>
    <ion-select
    multiple="true" formControlName="otherTags"
    [class.invalid]="!createNotePageForm.controls.otherTags.valid && (createNotePageForm.controls.otherTags.dirty || tryingToSubmit)"
    >
      <ion-option *ngFor="let tag of tags" [value]="tag">
        {{tag.title}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="!createNotePageForm.controls.otherTags.valid && (createNotePageForm.controls.otherTags.dirty || tryingToSubmit)">
    <ion-label class="error-label">You cannot have more than 10 other tags.</ion-label>
  </ion-item>


  <ion-item>
    <ion-label stacked color="primary"
    >
      Links:
    </ion-label>
    <button ion-button type="button" icon-only item-right (click)="pushLink()" color="primary">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-item>


      <ion-chip *ngFor="let link of links; let i=index">
        <ion-label>
          {{link}}
        </ion-label>
        <button ion-button (click)="deleteLinks($event, i)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-chip>




  <!-- <ion-item>
    <ion-label stacked color="primary">Done:</ion-label>
    <ion-toggle [(ngModel)]="newNote.isdone" name="is-done"></ion-toggle>
  </ion-item> -->

  <ion-item>
    <ion-label stacked color="primary">Done:</ion-label>
    <ion-toggle formControlName="isDone"></ion-toggle>
  </ion-item>



  <!-- <ion-item> -->
  <!-- <div text-center>
    <button ion-button type="submit" >Create</button>
  </div> -->


  <div text-center>
    <button ion-button full (click)="createNote()" >Create</button>
  </div>

  </form>
</ion-card>

</ion-content>

<!--
Oliver Sykes stated that the first LP song he listened to was 'Papercut'.
-->
