<!--
  Generated template for the NotesByTag page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Tags list</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="showSpinner" text-center>
    <ion-spinner></ion-spinner>
  </div>

  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchCtrl">
  </ion-searchbar>

  <!-- <form (ngSubmit)="searchNotesByTags()"> -->
  <!-- <form [formGroup]="searchPageForm"> -->
    <div text-center>
      <!-- <button ion-button (click)="searchNotesByTags()" [disabled]="!btnEnabled && isThereSomethingToShow">Search</button> -->
      <!-- <button ion-button (click)="search()">Search</button> -->
      <button ion-button (click)="searchNotesByTags()" [disabled]="!btnEnabled">Search</button>
    </div>
  <!-- </form> -->


  <!-- <ion-list>

  <ion-item ng-repeat="item in items"
            item="item"
            >
     <label class="checkbox">
  <input type="checkbox" ng-click="clickItem(item); $event.stopPropagation();" ng-model="item.checked">
</label>

    Item {{ item.id }}
  </ion-item>

</ion-list> -->

<!-- <h3>Tags!</h3> -->

  <!-- <ion-card detail-push *ngFor="let tag of shownTags; let i=index">

    <ion-label class="checkbox">
      <input type="checkbox" (click)="dataChanged($event, i); $event.stopPropagation();">
    </ion-label>
    <ion-label item-right>
      {{tag.title}}
    </ion-label>

    <ion-item>
      <ion-label>Notes:</ion-label>
      <ion-badge item-right>{{tag.noteslength}}</ion-badge>
    </ion-item>
  </ion-card> -->

  <ion-card>
    <ion-list radio-group [(ngModel)]="searchOption">
      <ion-list-header>
        <ion-label stacked color="primary">
        Search option:
        </ion-label>
      </ion-list-header>
      <ion-item text-wrap>
        <ion-label>
          Notes with all of the selected tags
        </ion-label>
        <ion-radio value="and"></ion-radio>
      </ion-item>
      <ion-item text-wrap>
        <ion-label>
          Notes with at least one of the selected tags
        </ion-label>
        <ion-radio value="or"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>

    <div *ngIf="isThereSomethingToShow; then show_tags; else no_tags"></div>

  <ng-template #show_tags>
  <ion-list>
    <ion-list-header>
      <ion-label color="primary" stacked>
        Tags:
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let tag of shownTags; let i=index"  >
      <ion-checkbox (ionChange)="dataChanged2($event, i);"></ion-checkbox>
      <ion-label>{{tag.title}}</ion-label>
      <ion-badge item-right>{{tag.noteslength}}</ion-badge>
    </ion-item>
  </ion-list>
  </ng-template>

  <ng-template #no_tags>
    <div text-center class="generic-gray reduced-font">
      There are no tags.
    </div>
  </ng-template>

  </ion-card>

<!-- </form> -->

</ion-content>
